[run]
branch = True
source = nimble,tests
omit =
    */.local/*
    lint.py
    runTests.py
    testProf.py
    documentation/*
    examples/*
    tests/helpers.py

[report]
skip_covered = True
exclude_lines =
    # ignore lines that do nothing
    pass$
    # ignore lines for failing to import packages
    except ImportError:
    # ignore test lines not intended to be reached
    assert False

[html]
title = nimble coverage report
directory = coverage_html
