# Requirements needed to build the docs and examples.
sphinx
nbsphinx
sphinx-copybutton
numpydoc
weasyprint
pytest
ipykernel
linuxdoc

# Additionally, pandoc is required to be installed at the system level.

